/* General Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styling */
body {
    font-family: 'Segoe UI', 'Roboto', Arial, sans-serif;
    background-color: #f8f9fc;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    min-height: 100vh;
}

/* Heading */
h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    margin-bottom: 1rem;
}

/* Description Paragraph */
.description {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 2.5rem;
    text-align: center;
}

/* Form Styling */
form {
    background-color: #fff;
    padding: 3rem 4rem;
    border-radius: 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.input-download-link {
    color: #007bff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

/* File Input Hidden */
input[type="file"] {
    display: none;
}

/* File Upload Button */
.custom-file-upload {
    display: block;
    background-color: #e74c3c;
    color: #fff;
    padding: 1.25rem 3rem;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none;
    position: relative;
}

.custom-file-upload:hover {
    background-color: #c0392b;
}

/* Submit Button Styling */
button {
    display: inline-block;
    background-color: #e74c3c;
    color: #fff;
    padding: 1.25rem 3rem;
    border: none;
    border-radius: 3rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}

button:hover {
    background-color: #c0392b;
}
#download-link {
    color: #007bff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}

  .custom-file-upload.inverted {
    background-color: white;
    color: #e74c3c;
    border: 1px solid #e74c3c;
  }
  .file-indicator {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 18px;
    text-align: center;
    line-height: 32px;
    display: none;
  }  
  input[type="file"] {
    display: none;
  }



/* Hidden Class Utility */
.hidden {
    display: none;
}


/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 2rem;
    }
}
